<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>copyright</key>
    <string>Copyright 2019 Liam Spradlin</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Girassol</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>uwNZ50kvdj</string>
        <key>name</key>
        <string>top_overshoot</string>
        <key>x</key>
        <integer>428</integer>
        <key>y</key>
        <integer>753</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>JLSkJvBroq</string>
        <key>name</key>
        <string>bottom_overshoot</string>
        <key>x</key>
        <integer>381</integer>
        <key>y</key>
        <integer>-7</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>b6SFHvxLc4</string>
        <key>x</key>
        <integer>-168</integer>
        <key>y</key>
        <integer>882</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>8yPprZJoHh</string>
        <key>name</key>
        <string>dots resting</string>
        <key>x</key>
        <integer>234</integer>
        <key>y</key>
        <integer>591</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cP4Xe99hYc</string>
        <key>x</key>
        <integer>219</integer>
        <key>y</key>
        <integer>715</integer>
      </dict>
    </array>
    <key>openTypeNameDesigner</key>
    <string>Liam Spradlin</string>
    <key>openTypeNameDesignerURL</key>
    <string>iamli.am</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/cms/scripts/page.php?item_id=OFL-FAQ_web</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>9</integer>
      <integer>1</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Display</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
