<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-32</integer>
      <key>T_T</key>
      <integer>-32</integer>
      <key>V</key>
      <integer>-42</integer>
      <key>W</key>
      <integer>-42</integer>
      <key>v</key>
      <integer>-32</integer>
    </dict>
    <key>L_A</key>
    <dict>
      <key>T</key>
      <integer>-32</integer>
      <key>T_T</key>
      <integer>-32</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-32</integer>
    </dict>
    <key>T_T</key>
    <dict>
      <key>A</key>
      <integer>-32</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-42</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-42</integer>
      <key>a</key>
      <integer>-24</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>a</key>
      <integer>-24</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>t</key>
      <integer>-16</integer>
      <key>t_t</key>
      <integer>-16</integer>
      <key>v</key>
      <integer>-42</integer>
      <key>w</key>
      <integer>-24</integer>
    </dict>
    <key>l_a</key>
    <dict>
      <key>t</key>
      <integer>-16</integer>
      <key>t_t</key>
      <integer>-16</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>-16</integer>
    </dict>
    <key>t_t</key>
    <dict>
      <key>a</key>
      <integer>-16</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <integer>-24</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <integer>-24</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>a</key>
      <integer>-24</integer>
    </dict>
  </dict>
</plist>
