<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Girassol Project Authors (https://github.com/liamspradlin/Girassol-Display)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Girassol</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>uwNZ50kvdj</string>
        <key>name</key>
        <string>top_overshoot</string>
        <key>x</key>
        <integer>428</integer>
        <key>y</key>
        <integer>753</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>JLSkJvBroq</string>
        <key>name</key>
        <string>bottom_overshoot</string>
        <key>x</key>
        <integer>381</integer>
        <key>y</key>
        <integer>-7</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>b6SFHvxLc4</string>
        <key>x</key>
        <integer>-168</integer>
        <key>y</key>
        <integer>882</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>8yPprZJoHh</string>
        <key>name</key>
        <string>dots resting</string>
        <key>x</key>
        <integer>234</integer>
        <key>y</key>
        <integer>591</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cP4Xe99hYc</string>
        <key>x</key>
        <integer>219</integer>
        <key>y</key>
        <integer>715</integer>
      </dict>
    </array>
    <key>openTypeHheaAscender</key>
    <integer>944</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Liam Spradlin</string>
    <key>openTypeNameDesignerURL</key>
    <string>iamli.am</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>944</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>6</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>LIAM</string>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1070</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>326</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>0</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Girassol-Regular</string>
    <key>postscriptFullName</key>
    <string>GirassolRegular</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleMapFamilyName</key>
    <string>Girassol</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>4</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
