<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.OverRight-Capitals</key>
    <dict>
      <key>public.kern2.SmallCapitals</key>
      <integer>-32</integer>
      <key>public.kern2.UnderLeft-Capitals</key>
      <integer>-32</integer>
      <key>public.kern2.UnderLeft-SmallCapitals</key>
      <integer>-56</integer>
    </dict>
    <key>public.kern1.OverRight-SmallCapitals</key>
    <dict>
      <key>public.kern2.UnderLeft-SmallCapitals</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.UnderRight-Capitals</key>
    <dict>
      <key>public.kern2.OverLeft-Capitals</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.UnderRight-SmallCapitals</key>
    <dict>
      <key>public.kern2.OverLeft-SmallCapitals</key>
      <integer>-24</integer>
    </dict>
  </dict>
</plist>
